<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Titre{% endblock %}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block stylesheets %}{% endblock %}
        {% block javascripts_top %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts_bottom %}{% endblock %}
    </body>
</html>