{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('front') }}
{% endblock %}

{% block javascripts_top %}
    {{ encore_entry_script_tags('front') }}
{% endblock %}

{% block body %}
    <header>
        {% block header %}{% endblock %}
    </header>

    <main>
        {% block main %}{% endblock %}
    </main>

    <footer>
        {% block footer %}{% endblock %}
    </footer>
{% endblock %}