{% extends 'admin/layout.html.twig' %}

{% set active_nav_item = 'monitoring' %}

{% block main %}
    <section class="container">
        <div class="row">
            <div class="col">
                <a href="{{ path('admin_monitoring_show') }}" class="btn btn-primary">Retour</a>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <pre><code data-logs-url="{{ path('admin_monitoring_logs') }}" data-logs-tail="all" class="logs language-log"></code></pre>
            </div>
        </div>
    </section>
{% endblock %}