{% extends 'admin/layout.html.twig' %}

{% set active_nav_item = 'monitoring' %}

{% block main %}
    <section class="container">
        <div class="row">
            <div class="col">
                <a href="{{ path('admin_monitoring_logs') }}" class="btn btn-primary">Afficher tous les logs</a>
            </div>
            <div class="col">
                <div class="float-right">
                    <button type="button" class="btn btn-success container-play"><i class="bi bi-play"></i></button>
                    <button type="button" class="btn btn-warning container-pause"><i class="bi bi-pause"></i></button>
                    <button type="button" class="btn btn-danger container-restart"><i class="bi bi-arrow-clockwise"></i></button>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col">
                <div class="alert alert-info" role="alert">
                    Statut du serveur: <span class="container-health-status">...</span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <pre><code id="logs" data-logs-url="{{ path('admin_monitoring_logs') }}" data-logs-tail="20" class="logs language-log"></code></pre>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">$</span>
                    </div>
                    <input data-exec-url="{{ path('admin_monitoring_exec') }}" data-logs-container="#logs" type="text" class="form-control container-exec" placeholder="Entrer une commande ...">
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts_bottom %}
    <script type="text/javascript">
        // Status container

        function updateServerStatus() {
            fetch('{{ path('admin_monitoring_inspect') }}')
                .then(function(response) {
                    return response.json();
                })
                .then(function(container) {
                    let healthStatusElement = document.querySelector('.container-health-status');
                    healthStatusElement.innerHTML = container.State.Health.Status;

                    let playAction = document.querySelector('.container-play');
                    let pauseAction = document.querySelector('.container-pause');
                    let restartAction = document.querySelector('.container-restart');

                    if ('starting' === container.State.Health.Status) {
                        playAction.style.display = 'none';
                        pauseAction.style.display = 'none';
                        restartAction.style.display = 'none';

                        return;
                    }

                    playAction.style.display = container.State.Paused !== true ? 'none' : 'inline-block';
                    pauseAction.style.display = container.State.Paused === true ? 'none' : 'inline-block';
                    restartAction.style.display = container.State.Restarting === true ? 'none' : 'inline-block';
                })
            ;
        }

        document.addEventListener('DOMContentLoaded', function () {
            updateServerStatus();

            setInterval(() => {
                updateServerStatus();
            }, 10000);
        })

        // Play

        function play() {
            fetch('{{ path('admin_monitoring_play') }}', {method: 'POST'})
                .then(function (response) {
                    return response.json();
                }).then(function (data) {
                    if ('OK' !== data.message) {
                        return Promise.reject(data.message);
                    }

                    toastr.success('Le serveur est en cours de démarrage !');
                })
                .catch(function (error) {
                    toastr.error('Une erreur est survenu: ' + error);
                })
            ;
        }

        document.addEventListener('DOMContentLoaded', function () {
            document.querySelector('.container-play').addEventListener('click', play);
        });

        // Pause

        function pause() {
            fetch('{{ path('admin_monitoring_pause') }}', {method: 'POST'})
                .then(function (response) {
                    return response.json();
                }).then(function (data) {
                    if ('OK' !== data.message) {
                        return Promise.reject(data.message);
                    }

                    toastr.success('Le serveur est en pause !');
                })
                .catch(function (error) {
                    toastr.error('Une erreur est survenu: ' + error);
                })
            ;
        }

        document.addEventListener('DOMContentLoaded', function () {
            document.querySelector('.container-pause').addEventListener('click', pause);
        });

        // Restart

        function restart() {
            fetch('{{ path('admin_monitoring_restart') }}', {method: 'POST'})
                .then(function (response) {
                    return response.json();
                }).then(function (data) {
                    if ('OK' !== data.message) {
                        return Promise.reject(data.message);
                    }

                    toastr.success('Le serveur est en cours de redémarrage !');
                })
                .catch(function (error) {
                    toastr.error('Une erreur est survenu: ' + error);
                })
            ;
        }

        document.addEventListener('DOMContentLoaded', function () {
            document.querySelector('.container-restart').addEventListener('click', restart);
        });


        // Exec
        // TODO

    </script>
{% endblock %}