{% set nav_items = [
    {
        'class': 'home',
        'link': path('admin_home'),
        'title': 'Accueil'
    },
    {
        'class': 'file',
        'link': path('admin_file_list'),
        'title': 'Fichiers'
    },
    {
        'class': 'monitoring',
        'link': path('admin_monitoring_show'),
        'title': 'Logs'
    }
] %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Admin</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav" aria-controls="nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="nav">
        <ul class="navbar-nav">
            {% for nav_item in nav_items %}
            <li class="nav-item{% if nav_item.class == active_nav_item %} active{% endif %}">
                <a class="nav-link" href="{{ nav_item.link }}">{{ nav_item.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</nav>