{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('admin') }}
{% endblock %}

{% block javascripts_top %}
    {{ encore_entry_script_tags('admin') }}
{% endblock %}

{% block body %}
    <header>
        {% include 'admin/_nav.html.twig' with {active_nav_item: active_nav_item|default('home')} %}
        {% block header %}{% endblock %}
    </header>

    <main>
        {% block main %}{% endblock %}
    </main>

    <footer>
        {% block footer %}{% endblock %}
    </footer>
{% endblock %}