<div class="row mt-3">
    <div class="col">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('admin_file_list') }}">/</a></li>
                {% set build_path = '' %}
                {% for directory in path|split('/') %}
                    {% if not loop.first %}
                        {% set build_path = build_path ~ '/' %}
                    {% endif %}
                    {% set build_path = build_path ~ directory %}
                    <li class="breadcrumb-item{% if loop.last %} active{% endif %}"><a href="{% if not loop.last %}{{ path('admin_file_list', {'_path': build_path}) }}{% else %}#{% endif %}">{{ directory }}</a></li>
                {% endfor %}
            </ol>
        </nav>
    </div>
</div>