{% extends 'admin/layout.html.twig' %}

{% set active_nav_item = 'file' %}

{% block main %}
    <section class="container">
        <div class="row">
            <div class="col">
                <a href="{{ path('admin_file_list', {'_path': parent_path}) }}" class="btn btn-primary">Retour</a>
            </div>
            <div class="col">
                <div class="float-right">
                    <button id="rename-file-button" data-file-rename-url="{{ path('admin_file_rename', {'_path': path}) }}" data-callback-location-url="{{ path('admin_file_list', {'_path': parent_path}) }}" type="button" class="btn btn-outline-dark" title="Renommer..."><i class="bi bi-type"></i></button>
                    <a href="{{ path('admin_file_download', {'_path': path}) }}" id="download" type="button" class="btn btn-outline-dark" title="Télécharger..."><i class="bi bi-download"></i></a>
                    <button id="save" type="button" class="btn btn-outline-dark" title="Sauvegarder..."><i class="bi bi-save"></i></button>
                    <button id="delete-file-button" data-file-delete-url="{{ path('admin_file_delete', {'_path': path}) }}" data-callback-location-url="{{ path('admin_file_list', {'_path': parent_path}) }}" type="button" class="btn btn-outline-danger" title="Supprimer..."><i class="bi bi-trash"></i></button>
                </div>
            </div>
        </div>

        {% include 'admin/file/_breadcrumb.html.twig' with {'path': path} %}

        <div class="row">
            <div class="col">
                <div id="editor">{{ content }}</div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts_bottom %}
    {{ parent() }}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ace.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ext-modelist.js"></script>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {
            const Editor = ace.edit("editor");
            Editor.setTheme("ace/theme/tomorrow_night");
            Editor.getSession().setMode("ace/mode/javascript");

            var Modelist = ace.require("ace/ext/modelist");
            var mode = Modelist.getModeForPath('{{ path }}').mode;

            Editor.session.setMode(mode);

            function save() {
                fetch('{{ path('admin_file_edit', {'_path': path}) }}', {
                    method: 'POST',
                    headers: {
                        "Content-type": "application/json",
                        'X-Requested-With': 'XMLHttpRequest'
                    },
                    body: JSON.stringify({content: Editor.getValue()})
                }).then(function (response) {
                    return response.json();
                }).then(function (data) {
                    if ('ok' !== data.message) {
                        return Promise.reject(data.message);
                    }

                    toastr.success('Contenu enregistré !')
                })
                .catch(function (error) {
                    toastr.error('Une erreur est survenu: ' + error);
                })
            }


            document.querySelector('#save').addEventListener('click', save);

            document.querySelector('#editor > textarea').addEventListener('keydown', e => {
                if (e.ctrlKey && e.key === 's') {
                    save();

                    e.preventDefault();
                }
            });
        })
    </script>
{% endblock %}
