{% extends 'admin/layout.html.twig' %}

{% set active_nav_item = 'file' %}
{% set path_replace_rule = {(minecraft_paper_base_path ~ '/'): ''} %}

{% block main %}
    <section class="container">
        {% include 'admin/file/_breadcrumb.html.twig' with {'path': path} %}

        <div class="row">
            <div class="col">
                <ul class="directory list-group" data-file-upload-url="{{ path('admin_file_upload', {'_path': path}) }}">
                    {% if path is not null %}
                        <li class="list-group-item"><a href="{{ path('admin_file_list', {'_path': parent_path|slice(1)}) }}"><i class="bi bi-folder-fill"></i> ../</a></li>
                    {% endif %}
                    {% for directory in directories %}
                        <li
                            data-file-delete-url="{{ path('admin_file_delete', {'_path': directory.realPath|replace(path_replace_rule)}) }}"
                            data-file-rename-url="{{ path('admin_file_rename', {'_path': directory.realPath|replace(path_replace_rule)}) }}"
                            class="list-group-item">
                            <a href="{{ path('admin_file_list', {'_path': directory.realPath|replace(path_replace_rule)}) }}">
                                <i class="bi bi-folder-fill"></i> {{ directory.filename }}
                            </a>
                            <em class="float-right"><span class="file-last-modified">{{ directory.mTime }}</span></em>
                        </li>
                    {% endfor %}
                    {% for file in files %}
                        <li
                            data-file-delete-url="{{ path('admin_file_delete', {'_path': file.realPath|replace(path_replace_rule)}) }}"
                            data-file-rename-url="{{ path('admin_file_rename', {'_path': file.realPath|replace(path_replace_rule)}) }}"
                            class="list-group-item">
                            <a href="{{ path('admin_file_edit', {'_path': file.realPath|replace(path_replace_rule)}) }}">
                                <i class="bi bi-file-code"></i> {{ file.filename }}
                            </a>
                            <em class="float-right"><span class="file-size">{{ file.size }}</span> | <span class="file-last-modified">{{ file.mTime }}</span></em>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
{% endblock %}