{% extends 'admin/layout.html.twig' %}

{% set active_nav_item = 'file' %}

{% block main %}
    <section class="container">
        <div class="row">
            <div class="col">
                <a href="{{ path('admin_file_list', {'_path': parent_path}) }}" class="btn btn-primary">Retour</a>
            </div>
            <div class="col">
                <div class="float-right">
                    <a href="{{ path('admin_file_download', {'_path': path}) }}" id="download" type="button" class="btn btn-outline-dark" title="Télécharger..."><i class="bi bi-download"></i></a>
                    <button type="button" class="btn btn-outline-dark"><a href="{{ path('admin_file_edit', {'_path': path}) }}"><i class="bi bi-pencil-square"></i></button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Library</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Data</li>
                    </ol>
                </nav>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <pre><code class="logs language-js">{{ content }}</code></pre>
            </div>
        </div>
    </section>
{% endblock %}