{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('admin') }}
{% endblock %}

{% block javascripts_top %}
    {{ encore_entry_script_tags('admin') }}
{% endblock %}

{% block title %}Log in!{% endblock %}

{% block body %}

    <div class="container mt-5">
        <form method="post" id="form-login">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <h1 class="h3 mb-3 font-weight-normal">Connexion</h1>

            <div class="form-group">
                <label for="inputUsername" class="required">Nom d'utilisateur</label>
                <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus>
            </div>

            <div class="form-group">
                <label for="inputPassword" class="required">Mot de passe</label>
                <input type="password" name="password" id="inputPassword" class="form-control" required>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <button class="btn btn-primary float-right mt-2" id="btn-login" type="submit">OK</button>
        </form>
    </div>

{% endblock %}
